.outerDiv{
     min-height: calc(100vh - 80px);
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5rem;
  padding: 2rem;
}

.card{
   border: 2px solid black;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 1rem;
  height: fit-content;
}

.imgWrapper {
 height: 380px;
 width: 100%;
}

.imgWrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.categoryWrapper{
  display: flex;
  justify-content: center;
  align-items: center;
}

.category{
  font-size: 28px;
  font-weight: 800;
}

.productPrice{
    display: flex;
  justify-content: space-between;
}

.name{
 font-size: 19px;
  font-weight: 800;
}

.price{
  font-size: 19px;
  font-weight: 800;
}

.cartBtn{
  padding: 10px 18px;
  background-color: black;
  color: white;
  transition: background 0.5s ease-in-out;
}

.cartBtn:hover{
  background-color: white;
  color: black;
  transition: background 0.3s ease-in-out;
}


.cartWrapper{
    text-align: center;
}