.container{
    margin: 100px auto;
   display: flex;
   flex-direction: column;
   gap : 20px;
   max-width: 400px;
}

.input{
    padding : 10px;
    font-size: 16px;
    border-radius: 5px;
}

.btnWrapper{
    display: flex;
}

.button{
    padding: 14px 30px;
    font-size: 16px;
    color : white;
    background-color: black;
    transition : background 0.5s ease-in;
}

.button:hover{
    background-color: white;
    color : black;
    transition : background 0.4s ease-in
}

.h2{
    color : blue;
    font-size: 35px;
}

